@font-face {
  font-family: 'Open Sans',sans-serif;
  font-style: normal;
  font-weight: 200;
  src: local('Open Sans'), url(../../fonts/OpenSans.ttf) format('opentype');
}

@font-face {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans'), url(../../fonts/OpenSans.ttf) format('opentype');
}

@font-face {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), url(../../fonts/OpenSans.ttf) format('opentype');
}

@font-face {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans'), url(../../fonts/OpenSans.ttf) format('opentype');
}

@font-face {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans'), url(../../fonts/OpenSans.ttf) format('opentype');
}

@font-face {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans'), url(../../fonts/OpenSans.ttf) format('opentype');
}

@font-face {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 900;
  src: local('Open Sans'), url(../../fonts/OpenSans.ttf) format('opentype');
}